<section class="start-site">
    <div class="background"></div>
    <div class="central-content">
        <div class="site-title">
            <h1 class="brand-name">ONE-CLICK TRAVELS</h1>
            <div class="subtitle">
                <h3 class="subtitle-left">zamów</h3>
                <h2 class="subtitle-right">Wycieczkę marzeń</h2>
            </div>
        </div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.793707970414!2d19.90540183774679!3d50.06860827508491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165bbbc68f979b%3A0xa1229355b5595d3a!2sMiasteczko%20Studenckie%20AGH!5e0!3m2!1spl!2spl!4v1673285103764!5m2!1spl!2spl" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="details">
        <h3 class="bigger-text">Adres:</h3>
        <p class="lower-text">Rostafińskiego 7a,</p>
        <h3 class="bigger-text">Telefon:</h3>
        <p class="lower-text">123 456 789</p>
        <h3 class="bigger-text">E-mail:</h3>
        <p class="lower-text">xyz@gmail.com</p>
    </div>
</section>